<div class="new-item-parent">
    <input class="new-item new-item-child1"  name="newItem" type="text" placeholder="New Item">
    <div class="left">
        <button class="new-item-btn new-item-child2" type="submit">+</button>
    </div>
</div>
</form>