body{
    text-align: center;
    margin: 5% auto;
    background-color: #E4E9FD;
    background-image:-webkit-linear-gradient(
        65deg, #A683E3 50%, #E4E9FD 50%
    );
    min-height :560px;
}

ul
{
    list-style-type: none;
}

.item
{
    background-color:white;
    padding:3% 10%;
    font-size: 1.3em;
    text-align: justify;
    border-bottom: 2px solid whitesmoke;
    width:100%;
    overflow-wrap: break-word;


}

.list-items
{
    border-radius: 50%;
    padding-left: 0%;
}



.new-item
{
    width:100%;
    background-color: transparent;
    border: none;
    margin:1% auto;
    /* display: inline-block; */
}



.top-item
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.bottom-item
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.new-item-btn
{
    border-radius: 50%;
    background-color: #AA14F0;
    border: none;
    color:white;
    font-size: 1.2em;
    font-weight: bold;
    width: 40px;
    height: 40px;
    margin-left:8%;
   
}

.left
{
    display: inline-block;
    text-align: right;
}

.date
{
    margin-bottom: 10%;
    background-color:#AA14F0;
    border-radius: 5px;
    padding: 3% 4%;
    color:white;
    
}

.checkbox
{
    margin-right: 5%;
}

input:focus
{
    outline: none;
}

.cross
{
    text-decoration: line-through;
}

.container
{
    width:30%;
}

@media (max-width:900px)
{
    .container{
        width:50%
    }
    /* .new-item-btn
    {
        margin-left: 3%;
    } */
}

@media (max-width:500px)
{
    .container{
        width:60%;
    }

    .new-item-btn
    {
        margin-right:2px;
    }
    .new-item-child1
    {
        width:50%
    }
}

/* @media (max-width:1000px)
{
    .new-item-btn
    {
        margin-left: 0%;
    }
} */

.new-item-parent
{
    display: flex;
    width:100%;
}

.new-item-child1
{
    width:80%;
}

.hide
{
    display: none;
}

.checkbox-form
{
    display:inline;
}


/* @media (max-width:1000px) and (min-width:900px)
{

} */

